{% extends 'base.html.twig' %}

{% block title %}Hello RecetasController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Recetas! ✅</h1>

    <a href="{{ path("crear_recetas_formulario") }}">crear receta nueva</a> <br><hr>
    <ul>
    {%for receta in recetas%}
        <li>
        <a href={{ path('detalle_recetas', {id:receta.getID() }) }}>
          {{receta.getID()}} : {{receta.getNombre()}}  <br>
        </a>
        <a href={{path('delete_recetas_get' ,{id:receta.getID() } )}} >   eliminar</a>
        </li>


       
    {% endfor %}
    </ul>


   
</div>
{% endblock %}
